
@{
    ViewBag.Title = "GiaiPTB1";
}

<h2>GiaiPTB1</h2>
@using (Html.BeginForm())
{
    <input type="text" name="HeSoA" />
    <input type="text" name="HeSoB" />
    <input type="submit" value="Giải Phương trình" />
}
<h3>Nghiệm của phương trình là: @ViewBag.nghiemPT</h3>

